<nav class="navbar navbar-default" role="navigation">
	
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
		</button> <a class="navbar-brand" href="{{ "/home" | relative_url }}">SeedFork Project</a>
	</div>
	
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			{% for page in site.pages %}
			  	{% if page.categories contains 'main' %}
				<li>
			    	<a href="{{ page.url | relative_url}}">{{ page.title | escape }}</a>
				</li>
				{% endif %}
			{% endfor %}
			<li>
				<a href="{{ "/blog" | prepend: site.baseurl }}">Posts</a>
			</li>
			<li>
				<a href="{{ "/backlog" | prepend: site.baseurl }}">Backlog</a>
			</li>
		</ul>
	</div>
	
</nav>