<div id="entry-list">
    <div class="row" style="margin-bottom:10px;">
        <!--<input type="text" class="search form-control" placeholder="Search" />-->
    </div>
    
    <div class="row">
        <table class="table table-striped">
    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
        		<ul class="nav navbar-nav">
		            <li><a href="{{ "/seasons/summer" | prepend: site.baseurl }}">Summer</a></li>
		            <li><a href="{{ "/seasons/fall" | prepend: site.baseurl }}">Fall</a></li>
		            <li><a href="{{ "/seasons/winter" | prepend: site.baseurl }}">Winter</a></li>
		            <li><a href="{{ "/seasons/spring" | prepend: site.baseurl }}">Spring</a></li>
		            <li><a href="{{ "/seasons/login" | prepend: site.baseurl }}">Login</a></li>
		            <li><a href="{{ "/seasons/loggedin" | prepend: site.baseurl }}">LoggedIn</a></li>
        		</ul>
        	</div>
        </table>
    </div>
</div>

<!--
<script type="text/javascript">
    var options = {valueNames: ['title', 'quality', 'frequency', 'duration', 'curr_price', 'price_cap']};
    var entryList = new List('entry-list', options);
</script>
-->