---
layout: default
---

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="database">
                <div class="container">
                  <div class="starter-template row">
                    <h1>Seedfork Database</h1>
                    <p>{{ page.type }}</p>
                  </div>
                  {% include interactive-table.html %}
                  {{ content }}
                  {% include footer.html %}
                </div>
            </div>
        </div>
    </div>
</div>