---
layout: default
---

<!-- <h1>{{ page.title }}</h1>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav">
		{% for page in site.pages %}
		  	{% if page.categories contains 'userstory' %}
			<li>
		    	<a href="{{ page.url | relative_url}}">{{ page.title | escape }}</a>
			</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
	
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
  		As a {{ page.title }}, <br>
      I want {{ page.goal }} <br>
      so that {{ page.reason }}
			{% include footer.html %}
		</div>
	</div>
</div> -->